<!DOCTYPE HTML>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>WebcampbackendNew</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <h1>
      ようこそ
      <strong>Bookers</strong>
      へ
    </h1>
  </body>
</html>

<h1></h1>
<p>Find me in app/views/homes/top.html.erb</p>
